<form name="signin" action="/auth/signin" method="POST">
    username: <input type="text" name="username" id="username"/><br/>
    password: <input type="password" name="password" id="password"/><br/>
    <input type="submit" value="Sign In"></input>
</form>